[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

arrow = "==0.10.0"
cassandra-driver = "==3.5.0"
flask = "==0.12.2"
flask-restplus = "==0.10.1"
flask-script = "==2.0.6"
flask-sqlalchemy = "==2.3.2"
flask-testing = "==0.6.2"
plumbum = "==1.6.4"
"psycopg2" = "==2.7.3.2"
requests = "==2.18.2"
sqlalchemy = "==1.1.15"
openpyxl = "==2.4.9"
raven = "==5.8.1"
blinker = "==1.4"
bigdatalib = {git = "ssh://git@gitlab.com/olympus-libs/bigdatalib.git"}
handylib = {git = "ssh://git@gitlab.com/olympus-libs/handylib.git"}
cassandralib = {git = "ssh://git@gitlab.com/olympus-libs/cassandralib.git"}


[dev-packages]

pytest = "*"
pytest-cov = "*"
httpretty = "*"


[requires]

python_version = "3.5"
