arrow==0.8.0
openpyxl
yagmail
pysftp
scandir
git+ssh://git@gitlab.com/olympus-libs/bigdatalib.git
git+ssh://git@gitlab.com/olympus-libs/cassandralib.git
git+ssh://git@gitlab.com/olympus-libs/handylib.git
