arrow==0.8.0
openpyxl
yagmail
pysftp
scandir
git+ssh://git@gitlab.loyaltyangels.local/Olympus/bigdatalib.git
git+ssh://git@gitlab.loyaltyangels.local/Olympus/cassandralib.git
git+ssh://git@gitlab.loyaltyangels.local/Olympus/handylib.git
