
#uploadFileFormDiv {
    margin: 0 auto;
    padding: 20px;
}

.output-text {
    margin-bottom: 0;
}

.output-content {
    text-align: left;
    margin: 10px auto;
}

.output-row {
    align-content: center;
}